.main {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    $animation-speed: 0.2s;

    animation: fade-in 0.3s;

    .square {
        transition: left $animation-speed, top $animation-speed;
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 0.2em;
    }

    .square::before {
        transition: left $animation-speed, top $animation-speed;
        content: "";

        position: absolute;
        left: 10%;
        top: 10%;
        width: 100%;
        aspect-ratio: 1/1;
        background-color: #bbb;
        border-radius: 0.2em;
    }

    &::before {
        transition: left $animation-speed, top $animation-speed;
        content: "";

        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        aspect-ratio: 1/1;
        background-color: #bbb;
        border-radius: 0.2em;
    }

    &:hover {
        .square {
            left: 15%;
            top: 15%;
        }
        .square::before {
            left: 7%;
            top: 7%;
        }
        &::before {
            left: -7%;
            top: -7%;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
